# VSCode config folders
.vscode

# Python config folders
*__pycache__*
*.pytest_cache

# Enviroments
*.env

# Logs
*logs
*.log

# Flyordie
python/flyordie/players
python/flyordie/logs
python/flyordie/.venv
python/flyordie/.ruff_cache
python/flyordie/build
python/flyordie/dist
python/flyordie/assets/flyordie.icns
python/flyordie/assets/flyordie.ico
python/flyordie/assets/flyordie.png

# raspi project
raspi/www/qr-code.png
raspi/www/root.crt
raspi/grafana
raspi/uptime-kuma
raspi/traefik/certs

# Others
.DS_Store
